fastapi
uvicorn
pydantic[email]
pydantic-settings
python-dotenv
sqlalchemy
passlib[bcrypt]>=1.7.4
python-jose
requests
pdf2image
Pillow
psycopg2
python-multipart
python-dateutil
bcrypt<4.1
Babel>=2.12.1
fpdf>=1.7.2